<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

	<resultMap id="resultMap" type="com.exactsix.mibaas.user.dto.UserDto">
		<result property="userId" column="USERID" />
		<result property="email" column="EMAIL" />
		<result property="userName" column="USER_NAME" />
		<result property="passwd" column="PASSWD" />
		<result property="lastLogon" column="LAST_LOGON" />
	</resultMap>

	<resultMap id="resultDeviceMap" type="com.exactsix.mibaas.user.dto.DeviceDto">
		<result property="deviceId" column="DEVICE_ID" />
		<result property="deviceToken" column="DEVICE_TOKEN" />
		<result property="pushToken" column="PUSH_TOKEN" />
	</resultMap>

	<resultMap id="resultUserDeviceMap" type="com.exactsix.mibaas.user.dto.UserDeviceDto">
		<result property="userid" column="USERID" />
		<result property="deviceId" column="DEVICE_ID" />
	</resultMap>


	<select id="getUser" parameterType="String" resultMap="resultMap">
		SELECT
		USERID, EMAIL, USER_NAME, LAST_LOGON from users where EMAIL =
		#{email}
	</select>
	
	<select id="getUserLogin" parameterType="com.exactsix.mibaas.user.dto.UserDto" resultMap="resultMap">
		
		SELECT
		USERID, EMAIL, USER_NAME, LAST_LOGON from users where EMAIL =
		#{email} and PASSWD = #{passwd}
		
	</select>

	<insert id="insertUser" parameterType="com.exactsix.mibaas.user.dto.UserDto">
		INSERT INTO users_tbl
		(
		USERID
		,EMAIL
		,USER_NAME
		,PASSWD
		) VALUES (
		#{userid}
		,#{email}
		,#{userName}
		,#{passwd}
		,#{hashedPasswd}
		)
	</insert>

	<update id="updateUser" parameterType="com.exactsix.mibaas.user.dto.UserDto">
		UPDATE users_tbl
		SET
		USER_NAME = #{userName}
		,PASSWD = #{passwd}
		WHERE
		USERID = #{userid}
	</update>

	<insert id="insertDevice" parameterType="com.exactsix.mibaas.user.dto.DeviceDto">
		INSERT INTO device
		(
		DEVICE_ID
		,DEVICE_TOKEN
		) VALUES (
		#{deviceId}
		,#{deviceToken}
		)
	</insert>

	<insert id="insertUserDevice" parameterType="com.exactsix.mibaas.user.dto.UserDeviceDto">
		INSERT INTO
		user_device
		(
		USER_ID
		,DEVICE_ID
		) VALUES (
		#{userid}
		,#{deviceId}
		)
	</insert>



</mapper>
